nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  text-shadow: 0 0 10px #4a4646;

}




nav ul {
  list-style-type:none;
}


nav ul li a {
  padding: 8px 8px 8px 17px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.5s;
  text-align:center;
  margin-right: 50px;
}



nav ul li ul {
  display: none;
  background-color: #111;
  padding-left: 25px;
}



nav ul li a:hover {
  color: white;
  border: 0.5px solid white;
  font-size: 20px;
  border:10px solid black;
  background: black;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  
}

nav ul li a.bt_fechar {
  position: absolute;
  top: 0;
  left:130px;
  font-size: 36px;
  margin-left: 50px;
  border:none;
}



#bt_menu{
	font-size:50px;
	cursor:pointer;
	position: fixed;
	top:0;	
}

@media screen and (max-height: 450px) {
  nav {padding-top: 15px;}
  nav ul li a {font-size: 12px;}
}